[submodule "_submodules/leaderboard"]
	path = _submodules/leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
	branch = leaderboard-2.0
[submodule "_submodules/scenario_runner"]
	path = _submodules/scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
	branch = leaderboard-2.0
[submodule "_submodules/ros-bridge"]
	path = _submodules/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge
	branch = leaderboard-2.0
