[submodule "submodules/leaderboard"]
	path = submodules/leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
	branch = stable
[submodule "submodules/scenario_runner"]
	path = submodules/scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
	branch = leaderboard
[submodule "submodules/map"]
	path = submodules/map
	url = https://github.com/carla-simulator/map.git
